/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lobster&display=swap");

@import "tailwindcss";

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
.menu-item {
  @apply flex items-center px-5 py-3 text-sm text-gray-700 hover:bg-gray-50 transition-all;
}

input::placeholder {
  @apply text-gray-400;
  letter-spacing: 0.2px;
}

.shadow-xl {
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
}

.logo {
  font-family: "Delicious Handrawn", serif;
  font-weight: 400;
}
